<footer class=" container-fluid bg-dark text-white pt-5 pb-4">
  <div class="constainer text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-upperxase mb-4 font-weight-bold text-warning" >ກ່ຽວກັບພວກເຮົາ</h5>
        <p>ພວກເຮົາເປັນນັກສຶກສາຈາກຄະນະວິທະຍາສາດຄອມພິວເຕີພວກເຮົາສ້າງເວັບໄຊທ໌ນີ້ຂື້ນມາເພື່ອສຶກສາລະບົບກ່ຽວກັບການຊອກຫາແຫຼ່ງທີ່ຢູ່ໃໝ່ໃຫ້ໝາຈອນຈັດເພື່ອເພີ່ມຄວາມສະດວກສະບາຍໃຫ້ແກ່ຜູ້ທີ່ຕ້ອ
          ການບໍລິຈາກ ແລະ ຮັບອຸປະກາລະໝາ ແລະ ເພື່່ອຊ່ວຍເຫຼືອເຮັດໃຫ້ໝາຈອນຈັດມີທີ່ຢູ່ໃໝ່ທີ່ດີກວ່າເກົ່າ
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-upperxase mb-4 font-weight-bold text-warning">ປະໂຫຍດ</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">ໝາຈອນຈັດມີບ້ານໃໝ່ ແລະ ມີເຈົ້າຂອງ</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">ສິ່ງແວດລ້ອມມີຄວາມປອດໄຟ ແລະ ລະບຽບຫຼາຍຂື້ນ</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">ຫຼຸດຜ່ອນການເສຍຊີວິດຈາກພະຍາດທີ່ມີໝາເປັນພາຫະນະນຳເຊື້ອ</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">ຫຼຸດຜ່ອນຈຳນວນປະຊາກອນໝາຈອນຈັດ</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-upperxase mb-4 font-weight-bold text-warning">ຕິດຕໍ່ພວກເຮົາ</h5>
        <p>
          <i class="fas fa-home mr-3"></i>ດົງໂດກ
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i>takeme.home.lao@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i>+856 2091005514</p>
        <p><i class="fas fa-print mr-3"></i>+856 205566514</p>
      </div>
    </div>
    <hr class="mb-4">

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>ລິຂະສິດ @ 2022 </p>
          <a href="#" style="text-decoration: none;">
            <strong class="text-warning">ຈັດຫາບ້ານໃໝ້ໃຫ້ໝາຈອນຈັດ</strong>
          </a>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>
