<app-header [adopt]="pageAdopt"></app-header>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="container mt-sm-5">
  <div class="text-center" *ngIf="check_length==0">
    <h1>ຂໍ້ມູນບໍ່ຖືກຕ້ອງ</h1>
  </div>
  <div class="row align-items-start " *ngFor="let item of dog_list">


    <div class="col-md dog-pic">
      <img src="{{ item.dog_img }}" alt="" id="preview">
      <div class="img-prev text-center">
        <div class="img-slide active">
          <img src="{{ item.dog_img }}" alt="" appSilde>
        </div>
        <div class="img-slide">
          <img src="{{ item.dog_img2 }}" alt="" appSilde>
        </div>
      </div>
    </div>
    <div class="col-md infor-dog">
      <p class="fs-1">{{ item.dog_name }}</p>
      <p>{{ item.dog_bg }}</p>
      <p>Contact us at takemehome@gmail.com for more information on this dog</p>
    </div>
    <div class="text-center" style="margin-top: 10rem;">
      <p class="fs-1">ຟອມຮັບອຸປະກາລະໝາຈອນຈັດ</p>
      <!-- <button class="btn btn-primary" type="button" (click)="test()">test</button> -->
    </div>

  </div>
  <form [formGroup]="formrequired" action="" method="post" (ngSubmit)="submit_adopt()">
    <hr>
    <div class="row mb-5">
      <div class=" col-md-6 mb-3">
        <p>1. ເຈົ້າເປັນເຈົ້າຂອງ ຫຼື ເຊົ່າເຮືອນ ຫຼື ຫ້ອງແຖວບໍ?</p>
        <div class="row ps-3">
          <div class="col-md-3 form-check">
            <input class="form-check-input" type="radio" name="q_1" id="q_1_yes" value="1" formControlName="q_1" (change)="q_1_diable_q_2()">
            <label class="form-check-label" for="q_1_yes">
              ເຊົ່າ
            </label>
          </div>
          <div class="col-md-4 form-check">
            <input class="form-check-input" type="radio" name="q_1" id="q_1_no" value="2" formControlName="q_1" (change)="q_1_diable_q_2()">
            <label class="form-check-label" for="q_1_no">
              ເປັນເຈົ້າຂອງ
            </label>
          </div>
        </div>
        <small class="p-error text-danger" *ngIf=" f.q_1.hasError('required') &&f.q_1.invalid && f.q_1.touched">ຄຳຖາມທີ 1 ຈຳເປັນ</small>
      </div>
      <div class=" col-md-6 mb-3">
        <p>2. ຖ້າເຈົ້າເຊົ່າຫ້ອງ, ເຂົາເຈົ້າອານູຍາດໃຫ້ລ້ຽງສັດບໍ່?</p>
        <div class="row ps-3">
          <div class="col-md-4 form-check">
            <input class="form-check-input" type="radio" name="q_2" value="1" formControlName="q_2" id="q_2_yes">
            <label class="form-check-label" for="q_2_yes">
              ຕ້ອງຂໍອະນຸຍາດ
            </label>
          </div>
          <div class="col-md-4 form-check">
            <input class="form-check-input" type="radio" name="q_2" value="2" formControlName="q_2" id="q_2_no">
            <label class="form-check-label" for="q_2_no">
              ບໍ່ຕ້ອງຂໍອະນຸຍາດ
            </label>
          </div>
          <div class="col-md-4 form-check">
            <input class="form-check-input" type="radio" name="q_2" value="3" id="q_2_none" formControlName="q_2" checked>
            <label class="form-check-label" for="q_2_none">
              None
            </label>
          </div>
        </div>
        <small class="p-error text-danger" *ngIf=" f.q_2.hasError('required') &&f.q_2.invalid && f.q_2.touched">ຄຳຖາມທີ 2 ຈຳເປັນ</small>
      </div>
      <div class=" col-md-6 mb-3">
        <p>3. ມີການຈຳກັດນໍ້າໜັກຫຼືບໍ່?</p>
        <div class="row ps-3">
          <div class="col-md-2 form-check">
            <input class="form-check-input" type="radio" name="q_3" value="1" formControlName="q_3" id="q_3_yes" (change)="q_3_diable_q_4()">
            <label class="form-check-label" for="q_3_yes">
              ມີ
            </label>
          </div>
          <div class="col-md-2 form-check">
            <input class="form-check-input" type="radio" name="q_3" value="2" formControlName="q_3" id="q_3_no" (change)="q_3_diable_q_4()">
            <label class="form-check-label" for="q_3_no">
              ບໍ່ມີ
            </label>
          </div>
          <div class="col-md-2 form-check">
            <input class="form-check-input" type="radio" name="q_3" value="3" formControlName="q_3" id="q_3_none" (change)="q_3_diable_q_4()">
            <label class="form-check-label" for="q_3_none">
              ບໍ່ຮູ້
            </label>
          </div>
        </div>
        <small class="p-error text-danger" *ngIf=" f.q_3.hasError('required') &&f.q_3.invalid && f.q_3.touched">ຄຳຖາມທີ 3 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3">
        <label for="examplFormControlInput1" class="form-label">4. ຈຳກັດນ້ຳໜັກເທົ່າໃດ?</label>
        <input type="text" class="form-control col-md-6" id="exampleFormControlInput1" name="q_4" formControlName="q_4" placeholder="14 Kg / 30 Pound">
        <small class="p-error text-danger" *ngIf=" f.q_4.hasError('required') &&f.q_4.invalid && f.q_4.touched">ຄຳຖາມທີ 4 ຈຳເປັນ</small>
      </div>
      <div class=" col-md-6 mb-3">
        <p>5. ມີຄ່າມັດຈຳໃນການລ້ຽງສັດບໍ່?</p>
        <div class="row ps-3">
          <div class="col-md-2 form-check">
            <input class="form-check-input" type="radio" name="q_5" value="1" formControlName="q_5"  id="q_5_yes" (change)="q_5_disable_q_6()">
            <label class="form-check-label" for="q_5_yes">
              ມີ
            </label>
          </div>
          <div class="col-md-2 form-check">
            <input class="form-check-input" type="radio" name="q_5" value="2" formControlName="q_5" id="q_5_no" (change)="q_5_disable_q_6()">
            <label class="form-check-label" for="q_5_no">
              ບໍ່ມີ
            </label>
          </div>
          <div class="col-md-2 form-check">
            <input class="form-check-input" type="radio" name="q_5" value="3" formControlName="q_5" id="q_5_none" (change)="q_5_disable_q_6()">
            <label class="form-check-label" for="q_5_none">
              ບໍ່ຮູ້
            </label>
          </div>
        </div>
        <small class="p-error text-danger" *ngIf=" f.q_5.hasError('required') &&f.q_5.invalid && f.q_5.touched">ຄຳຖາມທີ 5 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3">
        <label for="examplFormControlInput1" class="form-label">6. What is the deposit amount?</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="10000 kips" formControlName="q_6" >
        <small class="p-error text-danger" *ngIf=" f.q_6.hasError('required') &&f.q_6.invalid && f.q_6.touched">ຄຳຖາມທີ 6 ຈຳເປັນ</small>
      </div>
      <hr>
      <div class=" col-md-6 mb-3">
        <p>7. ເຈົ້າເດີນທາງຕະຫຼອດບໍ່?</p>
        <div class="row ps-3">
          <div class="col-md-3 form-check">
            <input class="form-check-input" type="radio" name="q_7" formControlName="q_7"  value="1" id="q_7_yes">
            <label class="form-check-label" for="q_7_yes">
              ຕະຫລອດ
            </label>
          </div>
          <div class="col-md-3 form-check">
            <input class="form-check-input" type="radio" name="q_7" formControlName="q_7" value="2" id="q_7_no">
            <label class="form-check-label" for="q_7_no">
              ເລື້ອຍໆ
            </label>
          </div>
          <div class="col-md-3 form-check">
            <input class="form-check-input" type="radio" name="q_7" formControlName="q_7" value="3" id="q_7_none" checked>
            <label class="form-check-label" for="q_7_none">
              ບາງຄັ້ງຄາວ
            </label>
          </div>
        </div>
        <small class="p-error text-danger" *ngIf=" f.q_7.hasError('required') &&f.q_7.invalid && f.q_7.touched">ຄຳຖາມທີ 7 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3">
        <label for="examplFormControlInput1" class="form-label">8. ຖ້າເຈົ້າອອກໄປຕ່າງແຂວງ , ເຈົ້າຈະນຳເອົາສັດລ້ຽງໄປໄວ້ໃສ່?</label>
        <!-- <input type="text" class="form-control" id="q_8" placeholder="Parent / Child / Aunt / Neighbour"> -->
        <textarea [ngClass]="{'is-invalid':  f.q_8.invalid && f.q_8.touched }" class="form-control col-md-6" id="q_8" placeholder="ພໍ່ແມ່ / ລູກ / ນ້າສາວ / ເພື່ອບ້ານ" formControlName="q_8" rows="3"></textarea>
        <small class="p-error text-danger" *ngIf=" f.q_8.hasError('required') &&f.q_8.invalid && f.q_8.touched">ຄຳຖາມທີ 8 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3">
        <label for="examplFormControlInput1" class="form-label">9. ເຈົ້າຈະປ່ອຍໃຫ້ໝາຢູ່ຕາມລຳພັງຈັກຊົ່ວໂມງ?</label>
        <input [ngClass]="{'is-invalid':  f.q_9.invalid && f.q_9.touched }" type="text" class="form-control  col-md-6" formControlName="q_9" id="q_9" placeholder="8h / 6h">
        <!-- <textarea class="form-control" id="q_9" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea> -->
        <small class="p-error text-danger" *ngIf=" f.q_9.hasError('required') &&f.q_9.invalid && f.q_9.touched">ຄຳຖາມທີ 9 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">10. ເຈົ້າຈະເອົາໝາໄປໄວ້ໃສ່່ໃນລະຫວ່າງມື້?</label>
        <input [ngClass]="{'is-invalid':  f.q_10.invalid && f.q_10.touched }" type="text" class="form-control col-md-6" formControlName="q_10" id="q_10" placeholder="ພາຍໃນຫ້ອງພັກ / ສະໜາມຫລັງບ້ານ">
        <!-- <textarea class="form-control" id="q_10" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea> -->
        <small class="p-error text-danger" *ngIf=" f.q_10.hasError('required') &&f.q_10.invalid && f.q_10.touched">ຄຳຖາມທີ 10 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">11. ເຈົ້າວ່າງແຜ່ນທີ່ຈະລ້ຽງໝາຕົວນີ້ດົນປານໃດ້ແລ້ວ</label>
        <input [ngClass]="{'is-invalid':  f.q_11.invalid && f.q_11.touched }" type="text" class="form-control  col-md-6" formControlName="q_11" id="q_11" placeholder="2 ເດືອນ / 6 ເດືອນ / 8 ເດືອນ">
        <!-- <textarea class="form-control" id="q_11" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea> -->
        <small class="p-error text-danger" *ngIf=" f.q_11.hasError('required') &&f.q_11.invalid && f.q_11.touched">ຄຳຖາມທີ 11 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">12. ຖ້າເຈົ້າວ່າງງານ ຫຼື ຍ້າຍໄປຢູ່ບ່ອນອື່ນ, ຫຼື ໝາໃຫ່ຍຂື້ນກວາທີ່ເຈົ້າຄິດ,
          ເຈົ້າຈະເຮັດແນວໃດກັບໝາຕົວນັ້ນ?</label>
        <!-- <input type="text" class="form-control" id="q_12" placeholder="in apartment / outside house"> -->
        <textarea class="form-control" [ngClass]="{'is-invalid':  f.q_12.invalid && f.q_12.touched }" id="q_12" placeholder="ຍັງລ້ຽງຕໍ່ໄປເພາະໝາກໍເປັນສະມາຊິກຄອບຄົວ" formControlName="q_12" rows="3"></textarea>
        <small class="p-error text-danger" *ngIf=" f.q_12.hasError('required') &&f.q_12.invalid && f.q_12.touched">ຄຳຖາມທີ 12 ຈຳເປັນ</small>
      </div>
      <hr>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">13.ໝາຈະຢູ່ໃສ້ໃນມື້ທີ່ອາກາດບໍ່ດີ?</label>
        <input [ngClass]="{'is-invalid':  f.q_13.invalid && f.q_13.touched }" type="text" class="form-control" id="q_13" formControlName="q_13" placeholder="ພາຍໃນບ້ານ / ກ້ອງຕົ້ນໄມ້">
        <!-- <textarea class="form-control" id="q_13  col-md-6" placeholder="Inside house / under tree" rows="3"></textarea> -->
        <small class="p-error text-danger" *ngIf=" f.q_13.hasError('required') &&f.q_13.invalid && f.q_13.touched">ຄຳຖາມທີ 13 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">14.ເຈົ້າຈະວາງແຜນໃນການຝຶກຝົນໝາຂອງເຈົ້າແນວໃດ?</label>
        <input [ngClass]="{'is-invalid':  f.q_14.invalid && f.q_14.touched }" type="text" class="form-control" id="q_14" formControlName="q_14" placeholder="ຝຶກຝົນຂັ້ນພື້ນຖານ">
        <!-- <textarea class="form-control" id="q_14  col-md-6" placeholder="Inside house / under tree" rows="3"></textarea> -->
        <small class="p-error text-danger" *ngIf=" f.q_14.hasError('required') &&f.q_14.invalid && f.q_14.touched">ຄຳຖາມທີ 14 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">15. ຖ້າໝາຂອງເຈົ້າມີພຶດຕິກຳຜິດປົກກະຕິ, ຂຸດຄຸຸຸ່ຍ, ແລະ ອື່ນໆ, ເຈົ້າຈະເຮັດແນວໃດ?</label>
        <!-- <input type="text" class="form-control" id="q_15" placeholder="Inside house / under tree"> -->
        <textarea [ngClass]="{'is-invalid':  f.q_15.invalid && f.q_15.touched }" class="form-control" id="q_15  col-md-6" formControlName="q_15" placeholder="ສັ່ງສອນ / ຂໍ້ຄຳປືກສາຜູ້ຊ່ຽວຂານ" rows="3"></textarea>
        <small class="p-error text-danger" *ngIf=" f.q_15.hasError('required') &&f.q_15.invalid && f.q_15.touched">ຄຳຖາມທີ 15 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">16. ເຈົ້າຈະຝຶກໝາໃຫ້ຄຳຮູ້ຫຼືບໍ່? ຖ້າຝຶກຝຶກແນວໃດ?</label>
        <!-- <input type="text" class="form-control" id="q_16" placeholder="Inside house / under tree"> -->
        <textarea [ngClass]="{'is-invalid':  f.q_16.invalid && f.q_16.touched }" class="form-control" id="q_13  col-md-6" formControlName="q_16" placeholder="ຝຶກຝົນຂັ້ນພື້ນຖານ" rows="4"></textarea>
        <small class="p-error text-danger" *ngIf=" f.q_16.hasError('required') &&f.q_16.invalid && f.q_16.touched">ຄຳຖາມທີ 16 ຈຳເປັນ</small>
      </div>
      <div class="col-md-6 mb-3 ">
        <label for="examplFormControlInput1" class="form-label">17. ເປັນຫຍັງຈື່ງຢາກນຳໝາຕົວນີ້ໄປລ້ຽງ?</label>
        <!-- <input type="text" class="form-control" id="q_17" placeholder="Inside house / under tree"> -->
        <textarea [ngClass]="{'is-invalid':  f.q_17.invalid && f.q_17.touched }" class="form-control" id="q_13  col-md-6" formControlName="q_17" placeholder="ຢູ່ບ້ານຕ້ອງການສັດລ້ຽງ / ເພື່ອຊ່ວຍເຫລືອ" rows="4"></textarea>
        <small class="p-error text-danger" *ngIf=" f.q_17.hasError('required') &&f.q_17.invalid && f.q_17.touched">ຄຳຖາມທີ 17 ຈຳເປັນ</small>
      </div>
      <div class=" col-md-6 mb-3">
        <p>18. ເຈົ້າມີສວນຫຍ້າ ແລະ ມີຮົ້ວກັ້ນຫຼືບໍ່?</p>
        <div class="row ps-3">
          <div class="col-md-3 form-check">
            <input class="form-check-input" type="radio" name="q_18" value="1" formControlName="q_18" id="q_18_yes">
            <label class="form-check-label" for="q_18_yes">
              ມີ
            </label>
          </div>
          <div class="col-md-3 form-check">
            <input class="form-check-input" type="radio" name="q_18" value="2"  formControlName="q_18" id="q_18_no">
            <label class="form-check-label" for="q_18_no">
              ບໍ່ມີ
            </label>
          </div>
        </div>
        <small class="p-error text-danger" *ngIf=" f.q_18.hasError('required') &&f.q_18.invalid && f.q_18.touched">ຄຳຖາມທີ 18 ຈຳເປັນ</small>
        <label for="examplFormControlInput1" class="form-label">19. ຮົ້ວສູ່ງເທົ່າໃດ?</label>
          <input [ngClass]="{'is-invalid':  f.q_19.invalid && f.q_19.touched }" type="text" class="form-control" id="q_19" formControlName="q_19" placeholder="3m / 6ft">
          <small class="p-error text-danger" *ngIf=" f.q_19.hasError('required') &&f.q_19.invalid && f.q_19.touched">ຄຳຖາມທີ 19 ຈຳເປັນ</small>
      </div>
      <hr>
      <div class="col-sm-6">
        <ngx-recaptcha2 #captchaElem
    [siteKey]="siteKey"
    formControlName="recaptcha">
  </ngx-recaptcha2>
        <button class="btn btn-primary col-sm-3 text-center mt-5" [disabled]="formrequired.invalid" type="submit">ສົ່ງແບບຟອມ</button>
      </div>

    </div>
  </form>
</div>

<app-footer></app-footer>
