<app-header [adopt]="pageAdopt"></app-header>


<div class="container">
  <div class="row align-items-start " *ngFor="let item of dog_list">
    <div class="col-md">
      <img src="{{ item.dog_img }}" alt="" class="dog-pic">
    </div>
    <div class="col-md">
      <p class="fs-1">{{ item.dog_name }}</p>
      <p>{{ item.dog_bg }}</p>
      <p>Contact us at takemehome@gmail.com for more information on this dog</p>
    </div>
    <div class="text-center mt-5">
      <p class="fs-1">Require Adopt Form</p>
    </div>
    <form action="" method="post">
      <hr>
      <div class="row mb-5">
        <div class=" col-md-6 mb-3">
          <p>1. Do you own or rent your current home?</p>
          <div class="row ps-3">
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_1" id="q_1_yes">
              <label class="form-check-label" for="q_1_yes">
                Yes
              </label>
            </div>
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_1" id="q_1_no" checked>
              <label class="form-check-label" for="q_1_no">
                No
              </label>
            </div>
          </div>
        </div>
        <div class=" col-md-6 mb-3">
          <p>2. If you RENT your home, are pets allowed?</p>
          <div class="row ps-3">
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_2" id="q_2_yes">
              <label class="form-check-label" for="q_2_yes">
                Yes
              </label>
            </div>
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_2" id="q_2_no">
              <label class="form-check-label" for="q_2_no">
                No
              </label>
            </div>
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_2" id="q_2_none" checked>
              <label class="form-check-label" for="q_2_none">
                None
              </label>
            </div>
          </div>
        </div>
        <div class=" col-md-6 mb-3">
          <p>3. Is there a weight limit?</p>
          <div class="row ps-3">
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_3" id="q_3_yes">
              <label class="form-check-label" for="q_3_yes">
                Yes
              </label>
            </div>
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_3" id="q_3_no">
              <label class="form-check-label" for="q_3_no">
                No
              </label>
            </div>
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_3" id="q_3_none" checked>
              <label class="form-check-label" for="q_3_none">
                None
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="examplFormControlInput1" class="form-label">4. What is the weight limit?</label>
          <input type="text" class="form-control col-md-6" id="exampleFormControlInput1" placeholder="14 Kg / 30 Pound">
        </div>
        <div class=" col-md-6 mb-3">
          <p>5. Is a pet deposit required?</p>
          <div class="row ps-3">
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_5" id="q_5_yes">
              <label class="form-check-label" for="q_5_yes">
                Yes
              </label>
            </div>
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_5" id="q_5_no">
              <label class="form-check-label" for="q_5_no">
                No
              </label>
            </div>
            <div class="col-md-2 form-check">
              <input class="form-check-input" type="radio" name="q_5" id="q_5_none" checked>
              <label class="form-check-label" for="q_5_none">
                None
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="examplFormControlInput1" class="form-label">6. What is the deposit amount?</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="10000 kips ">
        </div>
        <hr>
        <div class=" col-md-6 mb-3">
          <p>7. Do you travel frequently?</p>
          <div class="row ps-3">
            <div class="col-md-3 form-check">
              <input class="form-check-input" type="radio" name="q_7" id="q_7_yes">
              <label class="form-check-label" for="q_7_yes">
                Always
              </label>
            </div>
            <div class="col-md-3 form-check">
              <input class="form-check-input" type="radio" name="q_7" id="q_7_no">
              <label class="form-check-label" for="q_7_no">
                Usually
              </label>
            </div>
            <div class="col-md-3 form-check">
              <input class="form-check-input" type="radio" name="q_7" id="q_7_none" checked>
              <label class="form-check-label" for="q_7_none">
                Sometimes
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="examplFormControlInput1" class="form-label">8. when you are always, who will care for the
            dog?</label>
          <!-- <input type="text" class="form-control" id="q_8" placeholder="Parent / Child / Aunt / Neighbour"> -->
          <textarea class="form-control col-md-6" id="q_8" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea>
        </div>
        <div class="col-md-6 mb-3">
          <label for="examplFormControlInput1" class="form-label">9. how many hours per day will the dog be alone?</label>
          <input type="text" class="form-control  col-md-6" id="q_9" placeholder="8h / 6h">
          <!-- <textarea class="form-control" id="q_8" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea> -->
        </div>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">10. Where will the dog be kept during the day?</label>
          <input type="text" class="form-control  col-md-6" id="q_10" placeholder="in apartment / outside house">
          <!-- <textarea class="form-control" id="q_8" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea> -->
        </div>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">11. how long do you plan to keep this dog?</label>
          <input type="text" class="form-control  col-md-6" id="q_11" placeholder="in apartment / outside house">
          <!-- <textarea class="form-control" id="q_8" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea> -->
        </div>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">12. if you lost your job or had to move, or if the dog grows largers than expected,
            what would you do with the dog?</label>
          <!-- <input type="text" class="form-control" id="q_11" placeholder="in apartment / outside house"> -->
          <textarea class="form-control" id="q_13" placeholder="Parent / Child / Aunt / Neighbour" rows="3"></textarea>
        </div>
        <hr>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">13. where will this dog be kept during bad weather?</label>
          <input type="text" class="form-control" id="q_13" placeholder="Inside house / under tree">
          <!-- <textarea class="form-control" id="q_13  col-md-6" placeholder="Inside house / under tree" rows="3"></textarea> -->
        </div>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">14. how do you plan to house train the dog?</label>
          <input type="text" class="form-control" id="q_13" placeholder="Inside house / under tree">
          <!-- <textarea class="form-control" id="q_13  col-md-6" placeholder="Inside house / under tree" rows="3"></textarea> -->
        </div>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">15. if this dog develops behavioral problems such as chewing, digging, etc, what 	masures will you take?</label>
          <!-- <input type="text" class="form-control" id="q_13" placeholder="Inside house / under tree"> -->
          <textarea class="form-control" id="q_13  col-md-6" placeholder="Inside house / under tree" rows="3"></textarea>
        </div>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">16. will you train this dog? if so, How?</label>
          <!-- <input type="text" class="form-control" id="q_13" placeholder="Inside house / under tree"> -->
          <textarea class="form-control" id="q_13  col-md-6" placeholder="Inside house / under tree" rows="4"></textarea>
        </div>
        <div class="col-md-6 mb-3 ">
          <label for="examplFormControlInput1" class="form-label">17. Why do you want to adopt a companion animal?</label>
          <!-- <input type="text" class="form-control" id="q_13" placeholder="Inside house / under tree"> -->
          <textarea class="form-control" id="q_13  col-md-6" placeholder="Inside house / under tree" rows="4"></textarea>
        </div>
        <div class=" col-md-6 mb-3">
          <p>18. Do you have a securely fenced yard?</p>
          <div class="row ps-3">
            <div class="col-md-3 form-check">
              <input class="form-check-input" type="radio" name="q_7" id="q_7_yes">
              <label class="form-check-label" for="q_7_yes">
                Yes
              </label>
            </div>
            <div class="col-md-3 form-check">
              <input class="form-check-input" type="radio" name="q_7" id="q_7_no">
              <label class="form-check-label" for="q_7_no">
                No
              </label>
            </div>

          </div>
          <label for="examplFormControlInput1" class="form-label">19. how hight fence?</label>
            <input type="text" class="form-control" id="q_13" placeholder="Inside house / under tree">
        </div>
        <hr>
        <div class="col-sm-6">
          <button class="btn btn-primary col-sm-2" type="submit">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>


<app-footer></app-footer>
