<app-header [adopt]="pageAdopt"></app-header>

<div
  class="bg-dark d-flex align-items-center justify-content-center border-banner"
>
  <div class="container-fluid banner-img"></div>
  <div class="h1 text-white fw-bold" style="opacity: 1; position: absolute">
    ເບິ່ງນ້ອງໝາ
  </div>
</div>






<div class="container-fluid bg-imgs">
  <!-- <div class="container text-center pt-5">
    <div class="row">
      <div class="col-md-6">
        <h1>Pup of the Week</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eum saepe
          atque labore animi placeat veritatis, maiores sapiente excepturi ex
          nostrum dignissimos dolor tenetur repellendus molestiae corrupti
          provident cumque? Autem cum tempora nesciunt ullam reiciendis iure vitae
          ab dolor, ipsam sit provident consectetur ipsum minus architecto eveniet
          quis, accusamus laudantium.
        </p>
        <button class="btn btn-primary">Apply to Adopt</button>
      </div>
      <div class="col-md-5">
        <img
          src="../../assets/img/pexels-rishu-bhosale-7276657.jpg"
          class="dog-week"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="container text-center" style="margin-top: 10rem">
    <p class="h5 text-muted">
      We offer socially-distanced, outdoor shelter visits via appointment for
      potential adopters. We would love to help you find your new 4-legged friend!
      After viewing our pups, fill out an adoption or foster application below and
      we will contact you.
    </p>
  </div> -->
  <div class="container text-center">
    <div class="row  justify-content-center pt-5">
      <div class="col-md-2 form-floating">
        <select name="" id="" class="form-select" [(ngModel)]="dog_age">
          <option selected value="-1">ເລືອກອາຍຸ</option>
          <option value="1">0-1ປີ</option>
          <option value="5">2-5ປີ</option>
          <option value="9">6-9ປີ</option>
          <option value="10">10 ຂື້ນໄປ</option>
        </select>
        <label for="floatingSelect">&nbsp;ອາຍຸ</label>
      </div>
      <div class="col-md-2 form-floating">
        <select name="" id="" class="form-select" [(ngModel)]="dog_gender">
          <option selected value="">ເລືອກເພດ</option>
          <option value="1">ເພດຜູ້</option>
          <option value="0">ເພດແມ່</option>
        </select>
        <label for="floatingSelect">&nbsp;ເພດ</label>
      </div>
      <div class="col-md-2 form-floating">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Mily"
          name="name"
          value=""
          [(ngModel)]="dog_name"
        />
        <label for="name">&nbsp; ຊື່</label>
      </div>
      <div class="col-md-1 pt-3">
        <button class="btn btn-primary " (click)="searcher()">ຄົ້ນຫາ</button>
      </div>
    </div>
  </div>
  <div class="container text-center" style="margin-top: 10rem">
    <div class="row">
      <div class="col-md-3 g-4" *ngFor="let item of dog_data">
        <div class="card text-sm-start text-black" style="width: 18rem;">
          <img src="{{ item.dog_img }}" class="card-img-top pic-all" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ item.dog_name }}</h5>
            <p class="card-text">{{ item.dog_species }}</p>
          </div>
          <div class="card-body">
            <a class="btn btn-outline-success"
            type="button"
            data-bs-toggle="modal"
            attr.data-bs-target="#dog1{{ item.dog_id }}">ເພີ່ມເຕີມ</a>
          </div>
        </div>
        <!-- <img src="{{ item.dog_img }}" class="dog-pic" alt="" />
        <p class="h3 text-primary">{{ item.dog_name }}</p>
        <p class="">{{ item.dog_species }}</p> -->
        <!-- <button
          class="btn btn-success"
          type="button"
          data-bs-toggle="modal"
          attr.data-bs-target="#dog1{{ item.dog_id }}"
        >
          more info
        </button> -->

        <!-- Modal -->
        <div
          class="modal fade"
          id="dog1{{ item.dog_id }}"

        >
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">ຂໍ້ມູນໝາ</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <img src="{{ item.dog_img }}" alt="" class="dog-pic" />
                  </div>
                  <div class="col">
                    <p class="text-start">{{ item.dog_bg }}</p>
                    <p class="text-start">
                      ຕິດຕໍ່ນ້ອງໄດ້ທີ່ອີເມວ takeme.home.lao@gmail.com ສຳລັບຂໍ້ມູນເພີ່ມເຕີມ
                    </p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-outline-primary"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  (click)="adoptdetail(item.dog_id )"
                >
                  ອຸປະກາລະ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br /><br />
</div>


<app-footer></app-footer>
