.banner-img {
  height: 60vh;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/pexels-josh-hild-2820134.jpg');
  background-position: right 50% bottom 50%;

  background-size: cover;
  opacity: 0.5;
}
.border-banner{
  border-bottom: 8px solid #FF6363;
}
.container{
  width: 800px;
}
.img-dog-banner{
  width: 300px;
}
@media only screen and (max-width: 800px) {
  .container{
    width: 100% ;
  }
}
.container{
  width: 1500px;
}
.profile{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}
.card_profile{
  height: 400px;
  padding-top: 2rem;
}
