.banner-img {
  height: 40vh;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/pexels-kat-smith-551628.jpg');
  background-position: right 50% bottom 50%;
  background-size: cover;
  opacity: 0.5;
}
.border-banner{
  border-bottom: 8px solid #FF6363;
}
.profile_img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 60% 40%;
}
