 <app-header></app-header>

 <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > ກຳລັງໂຫລດ </p></ngx-spinner>

<div
  class="bg-dark d-flex align-items-center justify-content-center border-banner"
>
  <div class="container-fluid banner-img"></div>
  <div class="h1 text-white fw-bold text-uppercase" style="opacity: 1; position: absolute;">
    ໂປຣຟາຍ
  </div>
</div>
<div class="container text-center bg-dark">
  <img src="{{this.user_info.data[0].user_img}}" class="profile_img mt-5" alt="">
  <p class="mt-4 fs-4 fw-bold text-white">{{this.user_info.data[0].user_name}} {{ this.user_info.data[0].user_surname }}</p>
  <p class="mt-1 fs-6 fw-light text-white">{{this.user_info.data[0].user_email}}</p>

  <hr class="text-white">


</div>

  <div class="container mb-5">
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
      <mat-tab label="Personal" >
        <div class="mt-5">
          <p class="text-center fs-4">Personal Details</p>
          <form [formGroup]="personal" (ngSubmit)="updateUser()">
            <div class="row w-100 justify-content-center">
              <div class="col-sm-4">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="John" formControlName="user_name">
                  <label for="floatingInput">ຊື່</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Doe" formControlName="user_surname">
                  <label for="floatingInput">ນາມສະກຸນ</label>
                </div>
              </div>
            </div>
            <div class="row w-100 justify-content-center">
              <div class="col-sm-4">
                <div class="form-floating col mb-3">
                  <select class="form-select shadow-none" id="floatingSelect" formControlName="user_gender">
                    <option disable seleted hidden value="" >ເພດ</option>
                    <option value="1">ເພດຊາຍ</option>
                    <option value="2">ເພດຍິງ</option>
                    <option value="3">ອື່ນໆ</option>
                  </select>
                  <label for="floatingSelect">ເພດ</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-floating mb-3">
                  <input  type="date" name="user_dob" id="user_dob" class="form-control shadow-none" formControlName="user_dob">
                  <label for="user_dob">ວັນເດືອນປີເກີດ</label>
                </div>
              </div>
            </div>
            <div class="row w-100 justify-content-center">
              <div class="col-sm-4">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="+8562054048008" formControlName="user_phoneNumber">
                  <label for="floatingInput">ເບີໂທ</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Doe" formControlName="user_workplace">
                  <label for="floatingInput">ບ່ອນເຮັດວຽກ</label>
                </div>
              </div>
            </div>
            <div class="row w-100 justify-content-center">
              <div class="col-sm-4">
                <div class="form-floating mb-3">
                  <select class="form-select shadow-none" id="user_province" formControlName="user_province" (change)="onSelectprovince($event)">
                    <option *ngFor="let item of provinceList" value="{{ item.id_province }}">{{ item.name_lao }}</option>
                  </select>
                  <label for="user_province">&nbsp; ແຂວງ</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-floating mb-3">
                  <select class="form-select shadow-none" id="user_district" formControlName="user_district" [(ngModel)]="user_district" (change)="onSelectdistrict($event)">
                    <option *ngFor="let item of district_data" value="{{ item.id_district }}">{{ item.name_lao }}</option>
                  </select>
                  <label for="user_province">&nbsp; ເມືອງ</label>
                </div>
              </div>
            </div>
            <div class="row w-100 justify-content-center">
              <div class="col-sm-8">
                <div class="form-floating mb-3">
                  <select class="form-select shadow-none" id="user_village" [(ngModel)]="user_village" formControlName="user_village">
                    <option *ngFor="let item of village_data" value="{{ item.id_village }}">{{ item.name_lao }}</option>
                  </select>
                  <label for="user_province">&nbsp; ບ້ານ</label>
                </div>
              </div>
            </div>
            <div class="row w-100 justify-content-center">
              <div class="col-sm-4 text-center">
                <button type="submit" class="btn btn-dark p-3  me-3 text-center shadow-none" [disabled]="edit">ບັນຖືກ</button>
                <button type="button" class="btn btn-success p-3  text-center shadow-none" *ngIf="edit" (click)="canedit()">ແກ້ໄຂ</button>
                <button type="button" class="btn btn-danger p-3  text-center shadow-none" *ngIf="notedit" (click)="canotedit()">ຍົກເລີກ</button>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Donation">
        <div class="mt-5 text-center">
          <div *ngFor="let item of doante_data">
            <div class="col-sm mt-5 mb-5 bg-dark p-4 rounded-1">
              <div class="row">
                <div class="col-3">
                  <p class="fs-3 text-white fw-light text-uppercase">{{ item.donate_create_at | date:'YYYY' }}</p>
                  <p class="text-danger fs-1 fw-bold text-uppercase">{{ item.donate_create_at | date:'MMM' }}</p>
                  <p class="text-danger fs-1 fw-bold">{{ item.donate_create_at | date:'dd' }}</p>
                </div>
                <div class="col text-start">
                  <p class="fs-2 text-white">ການບໍລິຈາກ</p>
                  <p class="fs-4 text-secondary"> {{item.donate_price/100 | currency:'฿ ':true:''}} ບາດ</p>
                  <p class="fs-4 text-secondary">{{item.donate_bill}}</p>
                  <!-- <a class="text-decoration-none text-danger text-start fw-bold text-uppercase" href="{{item.event_direction}}" target="_blank">get direction</a> -->
                </div>
                <div class="col text-white">
                  <p class="fs-1 text-success">ຂອບໃຈ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Adoption">
        <div class="mt-5">
          <div class="mt-5 text-center">
            <div *ngFor="let item of form_data">
              <div class="col-sm mt-5 mb-5 bg-dark p-4 rounded-1">
                <div class="row">
                  <div class="col-3">
                    <p class="fs-3 text-white fw-light text-uppercase">{{item.form_create_at | date:'YYYY'}}</p>
                    <p class="text-danger fs-1 fw-bold text-uppercase">{{item.form_create_at | date:'MMM'}}</p>
                    <p class="text-danger fs-1 fw-bold">{{item.form_create_at | date:'dd'}}</p>
                  </div>
                  <div class="col text-start">
                    <p class="fs-2 text-white">ຮ້ອງຂໍ</p>
                    <p class="fs-4 text-secondary">{{item.dog_name}}</p>
                    <p *ngIf="item.form_status == 0" class="fs-4 text-secondary">ສະຖານະ : <span class="text-warning">ກຳລັງກວດສອບ</span></p>
                    <p *ngIf="item.form_status == 1" class="fs-4 text-secondary">ສະຖານະ : <span class="text-success">ຢືນຢັນ</span> ພວກເຮົາຈະສົ່ງອີເມວຫາທ່ານ</p>
                    <p *ngIf="item.form_status == 2" class="fs-4 text-secondary">ສະຖານະ: <span class="text-danger">ປະຕິເສດ</span></p>
                    <a class="text-decoration-none text-danger text-start fw-bold text-uppercase" (click)="routing(item.dog_id)" type="button" target="_blank">ເບິ່ງຂໍ້ມູນໝາເພີ່ມເຕີມ</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div *ngIf="checkeform" class="col-sm mt-5 mb-5 bg-dark p-3">
                <div class="row">
                  <div class="col-3">
                    <p class="fs-3 text-white fw-light text-uppercase"></p>
                    <p class="text-danger fs-1 fw-bold text-uppercase">ບໍ່ມີກິດຈະກຳ</p>
                    <p class="text-danger fs-1 fw-bold"></p>
                  </div>
                  <div class="col text-start">
                    <p class="fs-2 text-white">ບໍ່ມີກິດຈະກຳເທື່ອ</p>
                    <p class="fs-4 text-secondary">ຈະມີກິດຈະກຳໄວໆນີ້</p>
                    <p class="fs-4 text-secondary"></p>
                    <a class="text-decoration-none text-danger text-start fw-bold text-uppercase" href="" target="_blank"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
<br>
<br>

<app-footer></app-footer>

